$enable-rounded: false;

$primary: #007779;
$secondary: #00B993;
$white: #fff;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'white': $white
);

$min-contrast-ratio: 2.2;


$navbar-dark-color: $white;
// $navbar-dark-hover-color: $primary;

$card-border-width: none;

$badge-font-size: 1.125rem;
$badge-font-weight: 400;
$badge-padding-y: .625rem;
$badge-padding-x: 1rem;
