$enable-rounded: false;
$enable-negative-margins: true;

$primary: #007779;
$secondary: #00B993;
$light: #DDF1F0;
$white: #fff;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'light': $light,
    'white': $white
);

$min-contrast-ratio: 2.2;


$navbar-dark-color: $white;
// $navbar-dark-hover-color: $primary;

$card-border-width: none;

$list-group-border-width: 0px;
$list-group-item-padding-y: 2rem;

$list-group-bg: $secondary;
$list-group-color: $white;
$list-group-hover-bg: $primary;
$list-group-action-hover-color: $white;
$list-group-action-active-bg: $primary;
$list-group-action-active-color: $white;

$badge-font-size: 1.125rem;
$badge-font-weight: 400;
$badge-padding-y: .625rem;
$badge-padding-x: 1rem;
