$enable-rounded: false;

$primary: #007779;
$secondary: #00B993;
$white: #fff;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'white': $white
);

$min-contrast-ratio: 2.2;


$navbar-dark-color: $white;
// $navbar-dark-hover-color: $primary;
