

@import 'vars';
@import '../../node_modules/bootstrap/scss/bootstrap';

.headfoot {
    .col-auto {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .darklink {
        text-decoration: none;
        color: $body-color;
        svg {
            margin-left: 0.5rem;
            vertical-align: text-top;
        }
    }
    .sociallink {
        text-decoration: none;
        color: $secondary;
    }
    a:hover {
        color: $link-hover-color;
    }
}

.copyright {
    font-size: 0.7rem;
}

.btn-combo {
    padding: 0;
    display: flex;
    color: $white;
    align-items: stretch;

    .arrow {
        padding: 14px 15px 16px;
        border: 1px solid $white;
        transition: inherit;
    }
    .text {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding: 0 1rem;
        transition: inherit;
    }
}
